/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

body {text-align:center;margin:auto;}

.container {
width:960px;
margin:20px auto;
text-align:left;
}

#subcontainer {width:960px;float:left;}

.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol,.twelvecol {
	margin:15px;
	float:left;
	display:inline;
}
.onecol {width:70px;}
.twocol {width:130px;}
.threecol {width:210px;}
.fourcol {width:290px;}
.fivecol {width:370px;}
.sixcol {width:450px;}
.sevencol {width:530px;}
.eightcol {width:610px;}
.ninecol {width:690px;}
.tencol {width:770px;}
.elevencol {width:850px;}
.twelvecol {width:930px;}




/* Smaller screens */

@media only screen and (max-width: 1000px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	

	
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}